* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

.bg-custom{
  background-color: #0763e7;
}

.text-color-custom{
  color: #0763e7;
}

.no-header-custum .p-dialog-content {
  padding: 0;             /* Elimina el relleno interno del modal */
  border: none;           /* Elimina los bordes */
}

.modal-custom{
  height: 100%;
}