* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

.bg-custom{
  background-color: #0763e7;
}

.text-color-custom{
  color: #0763e7;
}


.menu-color-custom{
  background-color: #2d3e50;
}

.icon-spacing {
  margin-bottom: 1rem; /* Ajusta este valor según lo necesites */
}
